coat_mini
coat_tiny
model--splinter-large-few-shot-k-16-finetuned-squad-seed-0--anas-awadalla
model--splinter-large-few-shot-k-16-finetuned-squad-seed-2--anas-awadalla
model--splinter-large-few-shot-k-16-finetuned-squad-seed-4--anas-awadalla
model--splinter-large-few-shot-k-32-finetuned-squad-seed-2--anas-awadalla
